.list-skills {
    .skillbar {
        width: 48%;
        display: inline-block;
        margin-right: 10px;

        &:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media (min-width: 768px) {
    .list-skills {
        .skillbar {
            margin-right: 0px;
            &:nth-child(2n){
                margin-left: 20px;
            }
        }
    }
}